body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Montserrat", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 150px) and (max-width: 420px) {
  .inputReq {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: auto;
    align-items: center;
  }
  #reqForm {
    width: 24rem;
  }
  .fields {
    width: 20rem;
    margin-top: 2rem;
  }
  .buttons_Enter {
    margin-top: 3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
  }
  .buttons_Enter button {
    margin-bottom: 1rem;
  }

  .imageList {
    justify-self: center;
    /* position: relative; */
    rotate: 25deg;
    margin: -2rem 0 0 -14rem;
  }
  .conteainer {
    display: flex;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .title {
    position: fixed;
    bottom: 0;
    right: 2%;
    left: 2%;
    justify-self: center;
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    margin: auto;
    z-index: 1;
    max-width: 20rem;
  }
  .title p strong {
    font-size: 30px;
  }
  .title p {
    text-align: center;
    font-size: 15px;
  }
  .logo {
    justify-content: center;
  }
  .btn_open_profile {
    margin: 1.5rem 1.5rem 0 0;
    height: 250px;
    width: 200px;
    background-size: 210px auto;
  }
  .itemInfo {
    margin: 10rem 0 0rem 0;
  }
  .profile {
    width: 22.5rem;
    height: auto;
  }
  .personalChoose {
    width: 100%;
  }
  .personalChoose ol li {
    font-size: 15px;
  }
  .personalInfo {
    grid-template-columns: 43% 1%;
    grid-gap: 3rem;
  }
  .personalInfo p {
    font-size: 17px;
  }
  .profilePhoto {
    height: 160px;
  }
  .profilePhoto div {
    background-size: 160px auto;
  }

  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 20rem;
  }
}

@media (min-width: 500px) and (max-width: 780px) {
  .inputReq {
    display: grid;
    grid-template-columns: 40% 75%;
    max-width: 40rem;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }
  #reqForm {
    width: 40rem;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .tags {
    bottom: -3em;
    left: 4%;
  }
  .tag {
    margin: -9px 0 0 0;
  }
  .tag button {
    font-size: 8px;
    padding: 2px 13px 2px 13px;
  }
  .title {
    max-width: 25rem;
  }
  .title p strong {
    font-size: 30px;
  }
  .title p {
    font-size: 15px;
  }
  .logo {
    justify-content: left;
  }
  .personalTags {
    margin: 2rem 0 2rem 3.5rem;
  }

  .personalInfo {
    margin: 0.5rem 0 0.5rem 0;
    grid-gap: 5rem;
  }
  .headerMain {
    width: 90%;
    height: 5rem;
    grid-template-columns: 18% 82%;
  }
  .itemsBar {
    /* background-color: rgb(4, 245, 233); */
  }
  .profile {
    width: 50rem;
  }
  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }
  .personalInfo {
    grid-template-columns: 30% 40%;
  }
  .profilePhoto {
    height: 250px;
  }
  .profilePhoto div {
    background-size: 250px auto;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

@media (min-width: 760px) and (max-width: 1100px) {
  .inputReq {
    display: grid;
    grid-template-columns: 40% 75%;

    max-width: 40rem;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .tags {
    left: 5.5%;
  }
  .tag {
    margin: -3px 0 0 0;
  }
  .tag button {
    font-size: 10px;
    padding: 2px 13px 5px 13px;
  }

  .title {
    max-width: 25rem;
  }
  .title p strong {
    font-size: 30px;
  }
  .title p {
    font-size: 15px;
  }
  .logo {
    justify-content: left;
  }
  .personalTags {
    margin: 2rem 0 2rem 3.5rem;
  }
  .personalInfo {
    margin: 0.5rem 0 0.5rem 0;
  }
  .headerMain {
    width: 90%;
    height: 5rem;
    background-color: white;
    grid-template-columns: 18% 82%;
  }
  .itemsBar {
    /* background-color: rgb(245, 4, 213); */
    grid-template-columns: 50% 50%;
  }
  .profile {
    width: 50rem;
  }
  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }
  .personalInfo {
    grid-template-columns: 30% 40%;
    grid-gap: 5rem;
  }
  .profilePhoto {
    height: 250px;
  }

  .profilePhoto div {
    background-size: 250px auto;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

@media (min-width: 1105px) and (max-width: 1390px) {
  .inputReq {
    display: grid;

    max-width: 40rem;
    grid-template-columns: 40% 75%;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .tags {
    left: 7%;
  }
  .tag {
    margin: 5px 0 0 0;
  }
  .tag button {
    font-size: 16px;
    padding: 2px 13px 4px 13px;
  }
  .title {
    max-width: 25rem;
  }
  .title p strong {
    font-size: 30px;
  }
  .title p {
    font-size: 15px;
  }
  .logo {
    justify-content: left;
  }
  .personalTags {
    margin: 0rem 0 0rem 3.5rem;
  }
  .headerMain {
    width: 90%;
    height: 6rem;
    background-color: white;
    grid-template-columns: 16% 84%;
  }
  .itemsBar {
    /* background-color: rgb(20, 4, 245); */
    grid-template-columns: 33% 33% 33%;
  }
  .profile {
    width: 50rem;
  }
  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }
  .personalInfo {
    grid-template-columns: 30% 40%;
    grid-gap: 5rem;
  }
  .profilePhoto {
    height: 250px;
  }

  .profilePhoto div {
    background-size: 250px auto;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

@media (min-width: 1390px) and (max-width: 1790px) {
  .inputReq {
    display: grid;

    max-width: 40rem;
    grid-template-columns: 40% 75%;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .dataForm h1 {
    font-size: 35px;
  }
  #reqForm h1 {
    font-size: 35px;
  }
  .reqPanel {
    /* background-color: red; */
    margin-top: 2rem;
  }
  .profile p {
    font-size: 15px;
  }
  .tags {
    left: 8%;
  }
  .title {
    max-width: 30rem;
  }
  .title p strong {
    font-size: 35px;
  }
  .title p {
    font-size: 16px;
  }
  .logo {
    justify-content: left;
  }
  .tag {
    margin: 8px 0 0 0;
  }
  .personalInfo {
    margin: 1rem 0 1rem 0;
  }
  .tag button {
    font-size: 16px;
    padding: 2px 13px 5px 13px;
  }
  .personalTags {
    margin: 1rem 0 1rem 3.5rem;
  }
  .headerMain {
    width: 90%;
    height: 7rem;
    background-color: white;
    grid-template-columns: 17% 83%;
  }
  .itemsBar {
    /* background-color: rgb(245, 4, 4); */
    grid-template-columns: 25% 25% 25% 25%;
  }
  .profile {
    width: 50rem;
  }
  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }
  .personalInfo {
    grid-template-columns: 30% 40%;
    grid-gap: 5rem;
  }
  .profilePhoto {
    height: 250px;
  }

  .profilePhoto div {
    background-size: 250px auto;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

@media (min-width: 1800px) and (max-width: 2220px) {
  .inputReq {
    display: grid;

    max-width: 40rem;
    grid-template-columns: 40% 75%;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .dataForm h1 {
    font-size: 50px;
  }
  #reqForm h1 {
    font-size: 50px;
  }
  .reqPanel {
    /* background-color: green; */
    margin-top: 6rem;
  }
  .tags {
    left: 9%;
  }
  .tag {
    margin: 10px 0 0 0;
  }
  .tag button {
    font-size: 16px;
    padding: 2px 13px 5px 13px;
  }
  .title {
    max-width: 35rem;
  }
  .title p strong {
    font-size: 50px;
  }
  .title p {
    font-size: 21px;
  }
  .logo {
    justify-content: left;
  }

  .personalInfo {
    margin: 2rem 0 2rem 0;
  }
  .personalTags {
    margin: 2rem 0 2rem 3.5rem;
  }
  .headerMain {
    width: 90%;
    height: 8rem;
    background-color: white;
    grid-template-columns: 17% 83%;
  }
  .itemsBar {
    /* background-color: rgb(4, 245, 65); */
    grid-template-columns: 25% 25% 25% 25%;
  }
  .profile {
    width: 50rem;
  }
  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }
  .personalInfo {
    grid-template-columns: 30% 40%;
    grid-gap: 5rem;
  }
  .profilePhoto {
    height: 250px;
  }
  .profilePhoto div {
    background-size: 250px auto;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

@media (min-width: 2225px) {
  .inputReq {
    display: grid;
    grid-template-columns: 40% 75%;
    align-items: center;
  }
  .buttons_Enter {
    margin-top: 3rem;
    grid-template-columns: 40% 40%;
  }

  .conteainer {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .scrollBar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .itemInfo {
    margin: 13rem 0 19rem 0;
  }

  .btn_open_profile {
    margin: 2rem 2rem 0 0;
    height: 290px;
    width: 250px;
    background-size: 260px auto;
  }
  .reqPanel {
    margin-top: 7rem;
  }
  .tags {
    left: 10%;
  }
  .tag button {
    font-size: 10px;
    padding: 2px 13px 5px 13px;
  }
  .personalInfo {
    margin: 2rem 0 2rem 0;
    grid-gap: 4rem;
  }
  .personalTags {
    margin: 2rem 0 2rem 3.5rem;
  }
  .title {
    max-width: 35rem;
  }
  .title p strong {
    font-size: 50px;
  }
  .title p {
    font-size: 21px;
  }

  .logo {
    justify-content: left;
  }

  .headerMain {
    width: 90%;
    height: 8rem;
    background-color: white;
    grid-template-columns: 17% 83%;
  }
  .itemsBar {
    /* background-color: black; */
    z-index: 0;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .profile {
    width: 50rem;
  }

  .personalChoose {
    margin: 0 1rem;
    width: 80%;
  }

  .personalInfo {
    grid-template-columns: 30% 40%;
    grid-gap: 5rem;
  }
  .profilePhoto {
    height: 250px;
  }
  .personalTags p {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
  }
  .personalTags strong {
    font-size: 12px;
    padding: 2px 13px 3px 13px;
  }
  .exitButton {
    margin: 0 46rem;
  }
}

.exitButton {
  width: 30px;
  height: 30px;
  box: border-box;
  border-radius: 0.25rem;
  color: #808080;
  border: none;
  outline: none;
}

.scrollBar {
  width: auto;
  height: auto;
}

.scroollbarItem {
  margin: -1rem -1rem 0 0;
}

@keyframes moveDown {
  0% {
    transform: translateY(-1600px);
  }
  100% {
    bottom: 0px;
  }
}
@keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    transform: translateY(-800px);
  }
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-1600px);
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -webkit-transform: translateY(-800px);
  }
}

@-ms-keyframes moveDown {
  0% {
    -ms-transform: translateY(-1600px);
  }
  100% {
    bottom: 0px;
  }
}
@-ms-keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -ms-transform: translateY(-800px);
  }
}

@-moz-keyframes moveDown {
  0% {
    -moz-transform: translateY(-1600px);
  }
  100% {
    bottom: 0px;
  }
}
@-moz-keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -moz-transform: translateY(-800px);
  }
}

@-o-keyframes moveDown {
  0% {
    -moz-transform: translateY(-1600px);
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -o-transform: translateY(-800px);
  }
}

.tegsLabel {
  display: grid;
  grid-template-columns: 35% 30% 30%;
  text-align: left;
  font-size: 15px;
}

.scrollBarLine_1 {
  animation: moveDown 160s infinite linear;
  -webkit-animation: moveDown 160s infinite linear;
  -o-animation: moveDown 160s infinite linear;
  -moz-animation: moveDown 160s infinite linear;
  -ms-animation: moveDown 160s infinite linear;
}
.scrollBarLine_2 {
  animation: moveUp 150s infinite linear;
  -webkit-animation: moveUp 150s infinite linear;
  -o-animation: moveUp 150s infinite linear;
  -moz-animation: moveUp 150s infinite linear;
  -ms-animation: moveUp 150s infinite linear;
}
.scrollBarLine_3 {
  animation: moveDown 190s infinite linear;
  -webkit-animation: moveDown 190s infinite linear;
  -o-animation: moveDown 190s infinite linear;
  -moz-animation: moveDown 190s infinite linear;
  -ms-animation: moveDown 190s infinite linear;
}
.scrollBarLine_4 {
  animation: moveUp 210s infinite linear;
  -webkit-animation: moveUp 210s infinite linear;
  -o-animation: moveUp 210s infinite linear;
  -moz-animation: moveUp 210s infinite linear;
  -ms-animation: moveUp 210s infinite linear;
}

.btn_open_profile {
  border-radius: 1rem;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 0px 100px 0px rgba(141, 141, 141, 0.6);
  text-align: left;
}

.btn_open_profile:hover {
  box-shadow: inset 0px 0px 200px 0px rgba(141, 141, 141, 0.2);
}

.itemInfo {
  color: white;
  font-size: 15px;
}

.logo {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.title {
  margin: auto;
  text-align: left;
}

@keyframes hoverButton {
  0% {
    background: linear-gradient(to right, #c571f5, #fa76cf);
  }
  100% {
  }
}

@keyframes buttonHover {
  0% {
  }
  100% {
  }
}

.startButton {
  background: linear-gradient(to right, #fa76cf, #c571f5);
  background-color: #ec808d;
  animation-fill-mode: forwards;
  color: #ffffff;
  grid-row: auto;
  font-size: 18px;
  border: 0px solid #ccc;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.startButton:hover {
  background: linear-gradient(to right, #c571f5, #fa76cf);
  animation-fill-mode: forwards;
}

@keyframes anim-animate-click-one {
  0% {
    opacity: 1;
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px lightgreen;
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px lightgreen;
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes reqHoverButton {
  0% {
    background-color: #d9001b;
  }
  100% {
    background-color: #ffffff;
    color: #ec808d;
  }
}

@keyframes reqButtonHover {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #d9001b;
    border: 2px solid #d9001b;
    color: #ffffff;
  }
}

.req_Back_Button {
  background-color: #ffffff;
  color: #fa76cf;
  grid-row: auto;
  font-size: 18px;
  border: 2px solid#fa76cf;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.req_Back_Button:hover {
  border: 2px solid#c571f5;
  color: #c571f5;
}

.description {
  text-align: left;
  margin: auto 0 auto 0;
}

.description p {
  margin: 2rem 7rem;
  font-size: 32px;
}

.description ul li {
  margin: 0.5rem 7rem;
  font-size: 21px;
}

#reqForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
}

#reqForm label p {
  text-align: left;
  margin-left: 4rem;
}

.loadPhoto {
  background-color: rgba(0, 0, 0, 0.15);
}

.loadPhoto:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.input_fields,
.input_fields_text {
  outline: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  /* display: flex; */
  width: 70%;
  padding: 15px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
}

.input_fields {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  color: rgb(151, 151, 151);
}

.input_fields_text {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  border-radius: 2rem;
}

.input_fields_text:focus {
  background-color: rgb(255, 255, 255);
}

.reqButton {
  margin-top: 3rem;
}

#dataForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 35rem;
  height: auto;
}

#dataForm label p {
  text-align: right;
}

#list {
  margin-left: 3rem;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  width: 80%;
}

.selectInput {
  color: #555555;
  display: grid;
  grid-template-columns: 45% 100%;
  grid-template-rows: 100%;
  grid-gap: 2rem;
}

.tagLabel {
  font-size: 14px;
  margin-bottom: 0.3rem;
  padding: 2px 0 5px 0;
  background-color: #fa71cd;
  color: white;
  border-radius: 2em;
}

.input_checkbox {
  background-color: #fa71cd;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.lable_radio,
.lable_checkbox {
  padding: 0.25em;
}

.input_radio,
.input_checkbox {
  margin-right: 0.625em;
}
.lable_checkbox {
  padding: 0.5em 0 0 0.5em;
}

.profile {
  z-index: 3;
  background: white;
  border: 2px solid #ccc;
  border-radius: 1rem;
  margin: auto;
}

.personalData {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
}

.personalChoose {
  height: auto;
  text-align: left;
}

.personalChoose ol {
  font-size: 17px;
  list-style: none;
}

.personalTags {
  margin: 0 1rem 1rem;
  text-align: left;
}

.personalTags p {
  text-align: center;
  font-weight: bold;
}

.personalTags strong {
  background-color: #fa71cd;
  color: white;
  margin: 0 0 0 1rem;
  border-radius: 2em;
}
.personalTags strong:hover {
  background-color: #c471f5;
}

.personalData ol li {
  margin-bottom: 1rem;
}

.personalInfo {
  display: grid;
  align-items: center;
  width: 100%;
  text-align: left;
}

.personalInfo p {
  font-size: 15px;
}

.profilePhoto {
  width: 100%;
  margin-top: -2rem;
  margin-left: 2rem;
  border: 2px solid #ccc;
  border-radius: 13rem;
  overflow: hidden;
}

.headerMain {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  align-items: center;
  margin: auto;
}

.matchProfileBar {
  text-align: right;
  display: grid;
  grid-template-columns: 98%;
}

.profileButton {
  background-image: url("https://institute.asiakz.com/files/default/avatar.png");
  width: 50px;
  height: 50px;
  border-radius: 6em;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}

.profileButton img {
  width: 50px;
  height: 50px;
}

.mainBlock {
  width: 100%;
  margin: auto;
  display: grid;
  position: absolute;
  top: 7rem;
}

.tags {
  position: fixed;
  text-align: left;
}

.tag button {
  background-color: #fa71cd;
  text-decoration: none;
  color: white;
  border-radius: 2em;
  border: 0 solid #ccc;
}

.tag button:hover {
  background-color: #c471f5;
}

.itemsBar {
  z-index: 0;
  display: grid;
  margin: auto;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText {
  text-align: center;
  width: 500px;
}
