body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Montserrat", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.conteainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 51% 49%;
  grid-template-rows: 100%;
}

.imageList {
}

.scrollBar {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
}

.scroollbarItem {
  margin: -1rem -1rem 0 0;
}

@keyframes moveDown {
  0% {
    -moz-transform: translateY(-85%);
    -o-transform: translateY(-85%);
    -webkit-transform: translateY(-85%);
  }
  100% {
    bottom: 0px;
  }
}

@keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -moz-transform: translateY(-85%);
    -o-transform: translateY(-85%);
    -webkit-transform: translateY(-85%);
  }
}

.scrollBarLine_1 {
  animation: moveDown 160s infinite linear;
}
.scrollBarLine_2 {
  animation: moveUp 150s infinite linear;
}
.scrollBarLine_3 {
  animation: moveDown 190s infinite linear;
}
.scrollBarLine_4 {
  animation: moveUp 210s infinite linear;
}

.btn_open_profile {
  margin: 2rem 2rem 0 0;
  border-radius: 1rem;
  border: none;
  height: 290px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center;
  box-shadow: inset 0px 0px 100px 0px rgba(141, 141, 141, 0.6);
  text-align: left;
}

.btn_open_profile:hover {
  box-shadow: inset 0px 0px 200px 0px rgba(141, 141, 141, 0.2);
}

.itemInfo {
  color: white;
  font-size: 15px;
  margin: 13rem 0 1rem 0;
}

.logo {
  padding-bottom: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  padding: 9rem;
  margin: auto;
  max-width: 40rem;
  text-align: left;
}

@keyframes hoverButton {
  0% {
    background: linear-gradient(to right, #c571f5, #fa76cf);
  }
  100% {
  }
}

@keyframes buttonHover {
  0% {
  }
  100% {
  }
}

.startButton {
  background: linear-gradient(to right, #fa76cf, #c571f5);
  background-color: #ec808d;
  animation: hoverButton 500ms;
  animation-fill-mode: forwards;
  color: #ffffff;
  grid-row: auto;
  font-size: 18px;
  border: 0px solid #ccc;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.startButton:hover {
  background: linear-gradient(to right, #c571f5, #fa76cf);
  animation: buttonHover 500ms;
  animation-fill-mode: forwards;
}

@keyframes reqHoverButton {
  0% {
    background-color: #d9001b;
  }
  100% {
    background-color: #ffffff;
    color: #ec808d;
  }
}

@keyframes reqButtonHover {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #d9001b;
    border: 2px solid #d9001b;
    color: #ffffff;
  }
}

.req_Back_Button {
  background-color: #ffffff;
  /* animation: reqHoverButton 500ms;
  animation-fill-mode: forwards; */
  color: #fa76cf;
  grid-row: auto;
  font-size: 18px;
  border: 2px solid#fa76cf;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.req_Back_Button:hover {
  border: 2px solid#c571f5;
  color: #c571f5;
  /* animation: reqButtonHover 500ms;
  animation-fill-mode: forwards; */
}

.content {
}

.description {
  text-align: left;
  margin: auto 0 auto 0;
}

.description p {
  margin: 2rem 7rem;
  font-size: 32px;
}

.description ul li {
  margin: 0.5rem 7rem;
  font-size: 21px;
}

#reqForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 35rem;
  height: auto;
}

#reqForm label p {
  text-align: left;
  margin-left: 4rem;
}

.input_fields,
.input_fields_text {
  outline: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  width: 70%;
  padding: 15px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
}

.input_fields {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  color: rgb(151, 151, 151);
}

.input_fields_text {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  border-radius: 2rem;
}

.input_fields_text:focus {
  background-color: rgb(255, 255, 255);
}

.reqButton {
  margin-top: 3rem;
}

#dataForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 35rem;
  height: auto;
}

#dataForm label p {
  text-align: right;
}
/* 
#dropdown {
  width: 80%;
  padding: 15px;
  color: grey;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
} */

#list {
  margin-left: 3rem;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  width: 80%;
}

.selectInput {
  color: #555555;
  display: grid;
  grid-template-columns: 45% 50%;
  grid-template-rows: 100%;
  grid-gap: 2rem;
}

.lable_checkbox {
  padding: 0.5em 0 0 0.5em;
}

.profile {
  z-index: 3;
  background: white;
  border: 2px solid #ccc;
  border-radius: 1rem;
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 30% 40%;
  justify-content: center;
  align-items: center; */
  width: 50rem;
  height: auto;
  margin: auto;
}

.personalData {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
}

.personalChoose {
  width: 80%;
  height: auto;
  text-align: left;
  margin: 2rem 0 2rem 1rem;
}

.personalChoose ol {
  font-size: 17px;
  list-style: none;
}

.personalTags {
  margin: 3rem;
  font-size: 20px;
  text-align: left;
  margin: 2.5rem;
}

.personalTags strong {
  background-color: #fa71cd;
  color: white;
  font-size: 18px;
  margin: 0 0 0 1rem;
  padding: 2px 13px 5px 13px;
  border-radius: 2em;
}
.personalTags strong:hover {
  background-color: #c471f5;
}

.personalData ol li {
  margin-bottom: 1rem;
}

.personalInfo {
  display: grid;
  grid-template-columns: 30% 40%;
  grid-gap: 4.5rem;
  align-items: center;
  width: 100%;
  margin: 2rem 0 2rem 0;
  text-align: left;
}

.personalInfo p {
  font-size: 15px;
}

.profilePhoto {
  margin-left: 2rem;
  border: 2px solid #ccc;
  border-radius: 13rem;
  height: 100%;
  max-width: 100%;
}

.headerMain {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 18% 78%;
  align-items: center;
  width: 90%;
  height: 8rem;
  margin: auto;
}

.matchProfileBar {
  text-align: right;
  display: grid;
  grid-template-columns: 98%;
}

.profileButton {
  background-image: url("https://institute.asiakz.com/files/default/avatar.png");
  width: 50px;
  height: 50px;
  border-radius: 6em;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}

.profileButton img {
  width: 50px;
  height: 50px;
}

.mainBlock {
  width: 95%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  position: absolute;
  top: 7rem;
}

.tags {
  position: fixed;
  left: 9%;
  text-align: left;
}

.tag {
  margin: 10px 0 0 0;
}

.tag a {
  background-color: #fa71cd;
  color: white;
  font-size: 16px;
  padding: 2px 13px 5px 13px;
  border-radius: 2em;
}

.tag a:hover {
  background-color: #c471f5;
}

.itemsBar {
  z-index: 0;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  margin: 0 0 2rem 3rem;
}
