body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Montserrat", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.conteainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 51% 49%;
  grid-template-rows: 100%;
}

.imageList {
  /* width: auto; */
  /* position: absolute;
  width: 50%;
  height: 1000px; */
}

.scrollBar {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
}

.scroollbarItem {
  margin: -1rem -1rem 0 0;
}

@keyframes moveDown {
  0% {
    -moz-transform: translateY(-85%);
    -o-transform: translateY(-85%);
    -webkit-transform: translateY(-85%);
  }
  100% {
    bottom: 0px;
  }
}

@keyframes moveUp {
  0% {
    top: 0px;
  }
  100% {
    -moz-transform: translateY(-85%);
    -o-transform: translateY(-85%);
    -webkit-transform: translateY(-85%);
  }
}

.scrollBarLine_1 {
  animation: moveDown 160s infinite linear;
}
.scrollBarLine_2 {
  animation: moveUp 150s infinite linear;
}
.scrollBarLine_3 {
  animation: moveDown 190s infinite linear;
}
.scrollBarLine_4 {
  animation: moveUp 210s infinite linear;
}

.btn_open_profile_startPanel {
  margin: 2rem 2rem 0 0;
  border-radius: 1rem;
  border: none;
  height: 290px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center;
  box-shadow: inset 0px 0px 100px 0px rgba(141, 141, 141, 0.6);
  text-align: left;
}

.btn_open_profile_startPanel:hover {
  box-shadow: inset 0px 0px 200px 0px rgba(141, 141, 141, 0.2);
}

.itemInfo {
  color: white;
  font-size: 15px;
  margin: 13rem 1rem;
}

.logo {
  padding-bottom: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  padding: 9rem;
  margin: auto;
  text-align: left;
}

@keyframes hoverButton {
  0% {
    background-color: #d9001b;
  }
  100% {
    background-color: #ec808d;
  }
}

@keyframes buttonHover {
  0% {
    background-color: #ec808d;
  }
  100% {
    background-color: #d9001b;
  }
}

.startButton {
  background-color: #ec808d;
  animation: hoverButton 500ms;
  animation-fill-mode: forwards;
  color: #ffffff;
  grid-row: auto;
  font-size: 18px;
  border: 0px solid #ccc;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.startButton:hover {
  animation: buttonHover 500ms;
  animation-fill-mode: forwards;
}

@keyframes reqHoverButton {
  0% {
    background-color: #d9001b;
  }
  100% {
    background-color: #ffffff;
    color: #ec808d;
  }
}

@keyframes reqButtonHover {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #d9001b;
    border: 2px solid #d9001b;
    color: #ffffff;
  }
}

.req_Back_Button {
  background-color: #ffffff;
  animation: reqHoverButton 500ms;
  animation-fill-mode: forwards;
  color: #ffffff;
  grid-row: auto;
  font-size: 18px;
  border: 2px solid #ec808d;
  border-radius: 6em;
  width: 16rem;
  height: 3.5rem;
  margin: auto;
}

.req_Back_Button:hover {
  animation: reqButtonHover 500ms;
  animation-fill-mode: forwards;
}

.content {
  /* display: grid;
  grid-template-columns: 40% 70%;
  grid-template-rows: 100%;
  margin: auto; */
  /* width: 100%;
  height: auto; */
}

.description {
  text-align: left;
  /* width: 100%;
  height: 80%; */
  margin: auto 0 auto 0;
}

.description p {
  margin: 2rem 7rem;
  font-size: 32px;
}

.description ul li {
  margin: 0.5rem 7rem;
  font-size: 21px;
}

#reqForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 35rem;
  height: auto;
}

#reqForm label p {
  text-align: left;
  margin-left: 4rem;
}

.input_fields,
.input_fields_text {
  outline: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  width: 70%;
  padding: 15px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
}

.input_fields {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  /* appearance: none; */
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(255, 255, 255);
  color: rgb(151, 151, 151);
}

.input_fields_text {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  border-radius: 2rem;
}

.input_fields_text:focus {
  background-color: rgb(255, 255, 255);
}

.reqButton {
  margin-top: 3rem;
}

#dataForm {
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 35rem;
  height: auto;
}

#dataForm label p {
  text-align: right;
}
/* 
#dropdown {
  width: 80%;
  padding: 15px;
  color: grey;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
} */

#list {
  margin-left: 3rem;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  width: 80%;
}

.selectInput {
  color: #555555;
  display: grid;
  grid-template-columns: 45% 50%;
  grid-template-rows: 100%;
  /* align-items: center; */
  grid-gap: 2rem;
}

.lable_checkbox {
  padding: 0.5em 0 0 0.5em;
}

.profile {
  border: 2px solid #ccc;
  display: grid;
  grid-template-columns: 25% 70%;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 4rem auto;
}

.personalData {
  margin: 4rem 0 4rem 0;
  display: grid;
  grid-gap: 5rem;
}

.personalChoose {
  border: 2px solid #ccc;
  width: 80%;
  height: auto;
  margin: auto;
  text-align: left;
}

.personalChoose ol {
  font-size: 25px;
  margin: 2rem;
  padding: 0;
  list-style: none;
}

.personalTags {
  border: 2px solid #ccc;
  width: 80%;
  height: auto;
  margin: auto auto -2rem auto;
  font-size: 25px;
  text-align: center;
}

.personalData ol li {
  margin-bottom: 1rem;
}

.personalInfo {
  width: 100%;
  margin: 4rem 0 4rem 0;
  text-align: left;
}

.personalInfo p {
  font-size: 20px;
  border: 2px solid #ccc;
  padding: 10px;
}

.profilePhoto {
  margin-top: 1rem;
  border: 2px solid #ccc;
  height: 100%;
  max-width: 99%;
}


.headerMain {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 20% 20% 49%;
  align-items: center;
  width: 95%;
  height: 8rem;
  margin: auto;
}

.navBar {
  display: grid;
  grid-template-columns: 50% 50%;
}

.matchProfileBar {
  text-align: right;
  display: grid;
  grid-template-columns: 500% 1%;
}

.matchProfilePos {
  display: grid;
  grid-template-columns: 20% 1%;
  align-items: center;
  grid-gap: 1rem;
}

.profileButton {
  width: 50px;
  height: 50px;
}

.profileButton img {
  border-radius: 6em;
  width: 50px;
  height: 50px;
}

.mainBlock {
}

.tags {
  /* background-color: turquoise; */
  position: fixed;
  top: 10rem;
  left: 10rem;
  text-align: left;
}
.tag {
  margin: 0.5rem 0 0 0;
}
.tag a {
  background-color: #fa71cd;
  color: white;
  font-size: 20px;
  padding: 0 10px 0 10px;
  border-radius: 2em;
}
.tag a:hover {
  background-color: #c471f5;
}

.itemsBar {
  z-index: 0;
  position: absolute;
  top: 7rem;
  right: 10rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
